:root{

 --color-rick: #85F217;
 --color-summer:#FF00EE;
 --color-morty:#DFFF00;
 --color-other:#17EAF2;
 
 --grey-200:#D9D9D9
 --grey-400:#3A3A3A
 --grey-500:#4C4C4C
 --grey-700:#2E2E2E
 --grey-800:#1F1F1F
 --grey-900:#121212
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--grey-900); 
  }

  body, input, textarea, button{
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }